@model AtlasScrum.Models.TeamMember

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Team Member</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.TeamMemberId)

        <div class="form-group">
            @Html.LabelFor(model => model.FullName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName)
                @Html.ValidationMessageFor(model => model.FullName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btnSave" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { controller = "TeamMember" }, new { @class = "btn btn-default btnBack" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
