<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ATLAS Scrum</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ATLAS Scrum", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Running Sprints", "Index", "Home")</li>
                    
                    <li class="star">@Html.ActionLink("Man of Sprint", "ManOfSprint", "SprintTeamMember")</li>
                    <li>@Html.ActionLink("Sprints", "Index", "Sprint")</li>
                    <li>@Html.ActionLink("Projects", "Index", "Project")</li>

                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Backlog", "Index", "BacklogItem")</li>
                        <li>@Html.ActionLink("Sprint Team", "Index", "SprintTeamMember")</li>
                        <li>@Html.ActionLink("Team Members", "Index", "TeamMember")</li>
                        <li>@Html.ActionLink("Roles", "Index", "Role")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ATLAS Scrum</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
