@model AtlasScrum.Models.BacklogItem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Backlog Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sprint.SprintName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sprint.SprintName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estimate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estimate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default btnDelete" /> 
            @Html.ActionLink("Back to List", "Index", new { controller = "BacklogItem" }, new { @class = "btn btn-default btnBack" })
        </div>
    }
</div>
